<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb">
      <li><%= link_to t('.items', :default => "Items"), items_path %></li>
      <% @item.ancestors.each do |item| %>
        <li><%= link_to item.name, item %></li>
      <% end %>
      <li class="active"><%= @item.name %></li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= @item.name %></h4>
      </div>
      <div class="panel-body">
        <%= @item.description %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= t('.label', :default => "Label") %></h4>
      </div>
      <div class="panel-body">
        <%= link_to "BigLabel",label_item_path(@item, :width => 101, :height => 54, :format => :pdf) %> <br/>
        <%= link_to "SmallLabel",label_item_path(@item, :width=> 57, :height => 32, :format => :pdf) %>
      </div>
    </div>
    <% if ! @item.is_childless? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= t('.children', :default => "Children") %></h4>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% @item.children.each do |item| %>
              <div class="list-group-item" onclick="this.style.backgroundColor='#FFFFFF'"><%= item.name %> <%= link_to 'Details', item %></div>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
